<%= render "shared/header" %>

<div class="container">
<h3 class="mb-5">マイページ</h3>

  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag "profile.png", class:"bd-placeholder-img", width:"100%", height:"200" %>
        <%# <img src="profile.png" class="bd-placeholder-img" width="100%" height="250" xmlns="profile.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image</text></svg> %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= current_user.nickname %></h5>
          <p class="card-text">登録アイテム数：<%= current_user.items.length %></p>
          <p class="card-text">メールアドレス：<%= current_user.email %></p>
          <p class="small mt-3">
          <%= link_to 'プロフィールを編集する', edit_user_path(current_user) %></p>
        </div>
      </div>
    </div>
  </div>

</div>




<%= render "shared/footer" %>
