<div class="top-image">
  <div class="position-absolute h-100 w-100 m-0 d-flex align-items-center justify-content-center">
    <div class="shadow p-3 mb-5 bg-light rounded top-title">
      クローゼットの見える化しませんか？
    </div>
  </div>
</div>
  <div class="col-6 mx-auto text-center pt-5">
    <p>「ついつい似たような服を買ってしまう」</p>
    <p>「買い物に行ったときにクローゼットの中身が思い出せない」</p>
    <p>そんなお悩みはありませんか？</p>
    <p>お持ちのアイテムを登録して、クローゼットの中身をカンタン管理！</p>
  </div>
  <div class="col-6 mx-auto text-center pt-3">
    <% if user_signed_in? %>
    <%= link_to '私のクローゼット', items_path, class:"btn btn-light" %>
    <%= link_to '　ログアウト　', destroy_user_session_path, method: :delete, class:"btn btn-light" %>
    <% else %>
    <%= link_to '　ログイン　', user_session_path, class:"btn btn-light" %>
    <%= link_to 'サインアップ', new_user_registration_path, class:"btn btn-light" %>
    <% end %>
  </div>

<%= render "shared/footer" %>
