<%= render "shared/header" %>

<div class="registration-page container pt-5 mt-5">
    <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>

  <h3 class="mb-4">ログイン</h3>

  <div class='form-group'>
    <%= f.label :メールアドレス, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control col-6" %>
  </div>

  <div class='form-group'>
    <%= f.label :パスワード, class:"form-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control col-6" %>
  </div>

  <div class='register'>
    <%= f.submit "ログイン", class:"btn btn-primary" %>
  </div>

<% end %>
</div>

<%= render "shared/footer" %>
