<%= render "shared/header" %>

<div class="container-fluid py-3 mt-5">
  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-3">
          <div class="card mb-4">
          <%= image_tag item.image, class:"card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= item.category.name %></h5>
              <p class="card-text"><%= item.brand.name %></p>
              <a href="#!" class="card-link">詳細</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
