<%= render "shared/header" %>

<div class="index-top d-flex align-items-center justify-content-center">
  <div class="h1 text-center text-white font-weight-bold">アイテム詳細</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
      <%= image_tag @item.image, class:"card-img-top" %>
        <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">カテゴリ：<%= @item.category.name %></li>
          <li class="list-group-item">ブランド：<%= @item.brand.name %></li>
          <li class="list-group-item">色：<%= @item.color.name %></li>
          <li class="list-group-item">サイズ：<%= @item.size.name %></li>
          <li class="list-group-item">購入価格：<%= @item.price %>円</li>
          <li class="list-group-item">購入日：<%= @item.purchase_date %></li>
          <li class="list-group-item">メモ：<%= @item.memo %></li>
        </ul>
        <div class="card-body">
          <% if user_signed_in? && current_user.id == @item.user_id %>
          <%= link_to "編集", edit_item_path(@item.id), class:"card-link" %>
          <%= link_to "削除", item_path, method: :delete, class:"card-link" %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
